nav {
    background-color: #333;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

nav ul {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}

nav ul li {
    margin-right: 20px;
}

nav ul li:last-child {
    margin-right: 0;
}

ul.nav-links li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    transition: color ease-in-out 0.2s;
}

ul.nav-links li a:hover {
    color: #ccc;
    transition: color ease-in-out 0.2s;
}

.navbar-divider {
    display: none;
    margin: 10px 0;
}

@media screen and (max-width: 768px) {
    .navbar-divider {
        display: block;
        background-color: white;
        width: 75%;
    }
    nav {
        flex-direction: column;
    }

    nav ul {
        flex-direction: column;
        align-items: center;
    }

    nav ul li {
        margin: 5px 0;
    }
}

#logo a {
    color: #fff;
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
}